
.colorFondo
{
    background-color: white;
}

.title
{
    color:white;
    font-weight: bold;
    -webkit-text-stroke: 0.9px black;
    text-shadow: 0 5px 10px darkblue;
}

.ingresar:hover
{
    box-shadow: 5px 5px 5px lightblue;
}